.About {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .intro {
    width: 50%;
    padding: 2rem;
    font-size: 18px;
    text-indent: 40px;
  }
  
  .intro p {
    text-align: left;
  }
  
  @media only screen and (max-width: 850px) {
    .image {
      display: flex;
      justify-content: center;
    }
  
    img {
      width: 30%;
    }
  
    .About {
      display: block;
    }
  
    .intro {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    img {
      width: 70%;
    }
  }
  