.Qualifications table {
  width: 50%;
  padding-top: 4rem;
  margin: 0 auto;
}

p {
  text-align: center;
}

.Qualifications .traits {
  width: 30%;
}

.Qualifications .traits td {
  border: none;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}
.green {
  color: green;
}

.workExp {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.workExp ul{
 display: inline-block;
 text-align: left;
 margin-bottom: 1.5rem;
}

.workExp li {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 750px) {
  .Qualifications .traits {
    width: 80%;
  }
}
@media only screen and (max-width: 475px) {
  .Qualifications .traits {
    width: 70%;
  }

  .Qualifications .stars {
    font-size: 13px;
  }
}
